{
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/services/(.*)$",
    "^@/actions/(.*)$",
    "^@/libs/(.*)$",
    "^@/plugins/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
